.classpath
.DS_Store
.factorypath
.gradle
.idea
.project
.settings
*.iml
*.ipr
*.iprof
*.iws
build/
out/
bin/
target/
node_modules/
Thumbs.db
.sdkmanrc
settings.json
graalpy/graalpy-javase-guide/python-resources
**/.mvn/wrapper/maven-wrapper.jar
