Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
graalpy-24.1.2-macos-aarch64/
graalpy-24.2.0-linux-amd64
venv/
src/main/resources/.env

