name: Test GraalWasm Micronaut Photon Demo
on:
  push:
    paths:
      - 'graalwasm/graalwasm-micronaut-photon/**'
      - '.github/workflows/graalwasm-micronaut-photon.yml'
  pull_request:
    paths:
      - 'graalwasm/graalwasm-micronaut-photon/**'
      - '.github/workflows/graalwasm-micronaut-photon.yml'
  workflow_dispatch:
permissions:
  contents: read
jobs:
  run:
    name: 'graalwasm-micronaut-photon'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '24.0.2'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'
          native-image-job-reports: 'true'
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - name: Package 'graalwasm-micronaut-photon'
        run: |
          cd graalwasm/graalwasm-micronaut-photon
          ./mvnw --no-transfer-progress clean package
      - name: Build native 'graalwasm-micronaut-photon'
        run: |
          cd graalwasm/graalwasm-micronaut-photon
          ./mvnw --no-transfer-progress clean package -Dpackaging=native-image
          ./target/demo &
          sleep 10
          curl --fail-with-body --silent --dump-header - -o /dev/null http://localhost:8080/photo/flipv
